    [{
      id: 1,
      cluster_name: "T 系列",
      type: "Three-tier",
      type_name: "三层架构",
      description: "描述信息",
      nodes: [node_model],
      switches: [switch_base_model],
      create_time: "2017-02-10 10:00:00",
    }]